@font-face{
  font-family: monsterSA;
  src: url(fonts/monster-ag/MonsterAG.ttf)
}
body{
  /* The image used */
  /*background-image: url("img/servidores-donosti.jpg") !important;*/
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
  background-image: linear-gradient(black, grey, black);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  font-family: monsterSA;
}
header{
  margin-top: 50px;
  text-align: center;
}
img{
  width: 400px;

}
input, button, a{
  box-shadow: 5px 5px 5px black;
}

h1, h2{
  color: white;
}
label{
  font-weight: bold;
}
table{
  margin-top:10%;
}
