<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/index" method="post">
      <h3> Iniciar sesión </h3>
      <div class="login">
        Correo electronico <br>
        <input type="email" name="email" value="Correo electronico" required> <br>
        Contraseña <br>
        <input type="password" name="password" value="Contraseña" required> <br>
        <input type="submit" name="start" value="Iniciar sesión">
        <a href="./register"> Registrar </a>
      </div>
    </form>
  </body>
</html>
