<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="formulario">
      <form class="" action="/register" method="post">
        <h2>Resgistrate con nostros</h2>
        {%if error_user %}
        <p class="text-center text-danger"><strong>Error:</strong> {{error_user}}</p>
        {% endif %}
        <div class="">
          <label>Nombre de usuario:</label>
          <input type="text" name="name" placeholder="Nombre" required autofocus><br/>
          <label >Correo electronico:</label>
          <input type="email" name="email" placeholder="Correo electronico"required autofocus><br/>
          <label >Contraseña:</label>
          <input type="password" name="password" placeholder="Contraseña"><br>
          <button type="submit" >Registrar </button>
        </div>
      </form>
    </div>
  </body>
</html>
